*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: cursive;
}

.container{
    height: 500px;
    width: 500px;
    margin: 50px auto;
    border-radius: 20px;
    background-color: #00ffff;
}

img{
  display: block;
  margin: 20px auto;
  border-radius: 30px;
  padding: 20px;
}

.container p{
   margin: 2px 30px;
   font-size: 18px;
}

span{
    font-weight: bold;
}

.container:hover{
  opacity: 0.4;
}