*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* height: 100vh;
    width:100vw; */
    font-family: cursive;
}


.navList{
    /* width: 100vw; */
    height: 70px;
    background-color:#6495ED;
}

.navList li{
    float: left;
    padding: 20px;
    height: 100%;
    list-style-type: none; 
    margin: 0 15px;
}

.navList li a{
    color: white;
    font-size: 20px;
    padding: 10px;
}

.navList li:nth-child(1){
    border-style: dashed;
}
.navList li:nth-child(2){
    border-style: double;
}

.navList li:nth-child(3){
    border-style:dotted;
}

.navList li:nth-child(4){
    border-style:groove;
}

.navList li:nth-child(5){
    border-style:solid;
}



