*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
Basic Plan 
For small businesss
$29
4 users
10 Web mails
Responsive Website
Free SSL 

body{
    font-family: cursive;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__box{
    height: 400px;
    width: 400px;
    background-color: rgb(67, 220, 67);
}





